@import url(https://fonts.google.com/specimen/Amatic+SC?preview.text=hello&classification=Display);

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family:"Amatic SC", "sans-serif";

}


ul {
    display: block;
    list-style-type: disc;
    margin-top: 1em;
    margin-bottom: 1 em;
    margin-left: 0;
    margin-right: 0;
    padding-left: 40px;
  }

.wrapper{
    max-width: 75%;
    margin: auto;
}


.wrapper >p,
.wrapper > h1 {
    margin: 1.5rem 0;
    text-align: center;
}

.wrapper > h1{
    letter-spacing: 3px;
}

.accordian{
    background-color: white;
    color: rgb(0,0,0,0.8);
    cursor: pointer;
    font-size: 1.2 rem;
    width: 100%;
    padding: 2 rem 2.5rem;
    border: none;
    outline: none;
    transition: 0.4s;
    display:flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
}

.accordian i{
    font-size: 1.6rem;
}

.active,
.accordian:hover{
    background-color: #f1f7f5;

}

.panel{
    padding: 0 18x;
    background-color: white;
    overflow: hidden;
    background-color: #f1f7f5;
    padding: 0 2rem 2.5rem 2rem;
}





.panel p {
    margin-bottom: 0;
    color: rgb(0,0,0,0.7);

} 

.faq{
    border: 1px solid rgb(0,0,0,0.7);
    margin: 10px 0;
}

.faq:active{
    border: none;
}

    body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(247, 244, 244);
}
* {box-sizing: border-box;}

.bg-img {
  /* The image used */
  background-image: url("OBJ-Catch.jpg");
  min-height: 800px;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  
  /* Needed to position the navbar */
  position: relative;
}

/* Position the navbar container inside the image */
.container {
  position: absolute;
  margin: auto;
  width: auto;
  top: 0;
}

/* The navbar */
.topnav {
  overflow: hidden;
  background-color: #333;
}

/* Navbar links */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.img_deg{
    float: right;
}

.text{
    color: white;
    position: right;
}

